@model CarShareV1.Models.HomeModelView
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="book-a-car">
                        <form action="index.html">
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>PICK-UP LOCATION:</h4>
                                @Html.DropDownListFor(model => model.BranchId, new SelectList(Model.FromBranch, "Id", "BranchName"), new { @class = "custom-select" })
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Location ==-->
                            <div class="pickup-location book-item">
                                <h4>DROP-OFF LOCATION:</h4>
                                @Html.DropDownListFor(model => model.BranchId, new SelectList(Model.ToBranch, "Id", "BranchName"), new { @class = "custom-select" })
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Pick Up Date ==-->
                            <div class="pick-up-date book-item">
                                <h4>PICK-UP DATE:</h4>
                                <input id="startDate" placeholder="Pick Up Date" />

                                <div class="return-car">
                                    <h4>Return DATE:</h4>
                                    <input id="endDate" placeholder="Return Date" />
                                </div>
                            </div>
                            <!--== Pick Up Location ==-->
                            <!--== Car Choose ==-->
                            <div class="choose-car-type book-item">
                                <h4>CHOOSE CAR TYPE:</h4>
                                
                                @Html.DropDownListFor(model => model.VehicleId, new SelectList(Model.Vehicles, "Id", "Model"), new { @class = "custom-select" })
                            </div>
                            <!--== Car Choose ==-->

                            <div class="book-button text-center">
                                <button class="book-now-btn">Book Now</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>BOOK A CAR TODAY!</h1>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
 
        