
@{
    ViewData["Title"] = "IsNotAllowed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Please, Active you Account....</h2>
                    <br />
                    <span class="title-line"><i class="fa fa-check-circle fa-2x"></i></span>
                    <p>Please, Check you email</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>

